<div class="welcome-container">
  <header>
        <h1>🍽 Service Staff</h1>
      <p>Керуйте замовленнями легко та швидко!</p>
    </header>
    
    <div class="buttons">
      <a routerLink="/login" class="btn">
        <img src="https://cdn-icons-png.flaticon.com/512/3064/3064155.png" alt="Login Icon"> Увійти
      </a>

      <a routerLink="/register" class="btn">
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png" alt="Register Icon"> Зареєструватися
      </a>
    </div>
  </div>

   
