/* Контейнер форми */
.orders-container {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto; /* Відступи для форми зверху і по центру */
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Легка тінь */
  color: black;
}

mat-form-field {
  display: block;
  margin-bottom: 10px;
}

/* Відступи для кнопки */
.button-container {
  text-align: center;
  margin-top: 20px; /* Відступ зверху для кнопки */
}

.button-container button {
  margin-right: 10px;
}

button {
  margin-right: 10px;
}

.custom-snackbar {
  background-color: #323232 !important;
  color: white !important;
  font-size: 16px !important;
  text-align: center;
}

.header {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.toolbar {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.no-select {
  cursor: pointer;
  user-select: none;
}

.add-dish-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  background: #fff;
  text-align: center;
  margin: 16px; /* Відступи від картки */
}

/* Стилізація карток */
.dish-card, .add-dish-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Легка тінь */
  border-radius: 12px;
  overflow: hidden;
  padding: 16px;
  background: #fff;
  text-align: center;
  margin: 10px; /* Відступи між картками */
}

/* Контейнер для карток */
.dishes-container {
  display: flex; /* Змінюємо сітку на flexbox */
  flex-wrap: wrap; /* Дозволяємо перенос елементів на новий ряд */
  justify-content: center; /* Центруємо картки по горизонталі */
  gap: 20px; /* Відстань між картками */
  padding: 20px 40px; /* Залишаємо відступи */
}

/* Заголовок карток */
mat-card-title {
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Зображення в картках */
.dish-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

mat-card-content {
  flex-grow: 1;
  font-size: 14px;
  color: #666;
  text-align: center;
  padding: 10px 0;
}

mat-card-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

  mat-card-actions button {
    width: 100%;
    max-width: 180px;
    font-weight: bold;
    padding: 10px;
  }

/* Кастомізований блок для загальної суми */
.total-price-container {
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f0f8ff; /* Легкий блакитний фон */
  border: 1px solid #dcdcdc; /* Тонка рамка */
  border-radius: 8px; /* Згладжені кути */
  font-size: 18px; /* Розмір тексту */
  font-weight: bold; /* Напівжирний текст */
  color: #333; /* Темний текст */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Додати тінь */
}

/* Snackbar */
.custom-snackbar {
  background-color: #323232 !important;
  color: white !important;
  font-size: 16px !important;
  text-align: center;
}

/* Шапка */
.header {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

/* Панель інструментів */
.toolbar {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

/* Іконка страв */
.add-dish-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  background: #fff;
  text-align: center;
  margin: 16px;
}

/* Текст, який не можна виділити */
.no-select {
  cursor: pointer;
  user-select: none;
}
