<header>
  <div class="header">
    <mat-toolbar>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/menu">
          <mat-icon>menu</mat-icon>
          <span>Меню</span>
        </button>
        <button mat-menu-item routerLink="/orders" *ngIf="userRole === 'staff'">
          <mat-icon>shopping_cart</mat-icon>
          <span>Створити замовлення</span>
        </button>
        <button mat-menu-item *ngIf="userRole === 'admin'">
          <mat-icon>data_thresholding</mat-icon>
          <span>Адмінка</span>
        </button>
        <button mat-menu-item (click)="onButtonClick()">
          <mat-icon>star</mat-icon>
          <span>{{ getButtonLabel() }}</span>
        </button>
        <button mat-menu-item (click)="logOut()" >
          <mat-icon>logout</mat-icon>
          <span>Вийти</span>
        </button>
      </mat-menu>

      <div class="toolbar no-select">
        <span class="logo">🍽 Service Staff</span>
      </div>

      <span class="example-spacer"></span>

      <!-- Відображення ролі -->
      <div class="user-role no-select">
        <mat-icon>person</mat-icon>
        <span>{{ userRole | uppercase }}</span>
      </div>
    </mat-toolbar>
  </div>
</header>
