/* Загальні стилі */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

/* Головний контейнер */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: img('C:\Users\user\Source\Repos\Polibachi\DotNetInternship\ServiceStaff\servicestaff.client\src\assets\image\blur-back.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Заголовок */
h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Опис */
p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Контейнер для кнопок */
.buttons {
  display: flex;
  gap: 20px;
}

/* Кнопки */
.btn {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid transparent;
  cursor: pointer; /* Додаємо правильний курсор */
}

  .btn:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    cursor: pointer; /* Правильний курсор при наведенні */
  }

  /* Іконки */
  .btn img {
    width: 20px;
    height: 20px;
  }
