<header>
  <div class="header">
    <mat-toolbar>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>menu</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <div class="toolbar no-select">
        <span style="margin-right: 10px;">🍽 Service Staff</span>
      </div>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
</header>

<body>
  <div class="dishes-container">
    <mat-card class="dish-card" *ngFor="let dish of dishes">
      <mat-card-header>
        <mat-card-title>{{ dish.name }}</mat-card-title>
      </mat-card-header>

      <img mat-card-image [src]="getDishImage(dish.id)" alt="{{ dish.name }}">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-subtitle>{{ dish.price }} UAH</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button> <mat-icon>add</mat-icon>Додати до замовлення</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="dish-card add-dish-icon">
      <mat-card-header>
        <mat-card-title>Додати страву</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Додайте нову страву до меню</p>
        <p>Назва фото: {{ getLastDishIdPlusOne() }}.jpeg</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="openAddDishDialog()">
          <mat-icon>add</mat-icon> Додати страву
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
    

</body>
